/* GOOGLE FONTS STARTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

/* GLOBAL STYLE STARTS */

body {
    font-family: "Montserrat", sans-serif;
}

/* APP STYLE STARTS */
.app__container {
    padding: 15px;
}

.app__add-connection-form {
    margin-top: 15px;
    max-width: 50%;
}
